.mailform {
width: 460px;
font-family: arial;
border: 1px solid #AAA;
padding:10px;
}
.mailformheader {
font-size:18px;
font-weight:bold;
padding-top:10px;
padding-bottom:10px;
text-align:center;
}
.mailformmessage {
text-align:center;
padding-bottom:10px;
}
.mailform td {
padding:4px;
font-size:12px;
}
.mailform p {
padding:4px;
}
.mailform label {
padding:4px;
}
.mailform label {
padding-right:10px
}
.required {
font-weight:bold;
}

